* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    background-image: url("ai.jpg") ;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2rem;
    color: #ffffff;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #e6dede;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-opacity: 0.7rem;
}

.faq {
    margin-bottom: 10px;
}

.faq-question {
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: #3498db;
    color: #000000;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #ecf0f1;
    border-left: 4px solid #3498db;
    border-radius: 5px;
    margin-top: 10px;
}

.faq-question:hover {
    background-color: #0e75ba;
}

.faq-question:focus {
    outline: none;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
    color: #7f8c8d;
}

footer p {
    margin-top: 10px;
}
